@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  transition: .5s;
  background: white;
  color: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1{
  margin-top: 100px;
  font-size: 60px;
}
a{
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px 10px;
}

.footer{
  font-size: 20px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.container{
  position: absolute;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bar{
  background: #b5179e;
  height: 170px;
  width: 50px;
}

@keyframes load {
  0%{
    background: #b5179e;
    height: 170px;
    width: 50px;
  }
  50%{
    background: #f72585;
    height: 190px;
    width: 55px;
    box-shadow: 0px 0px 30px black;
  }
  100%{
    background: #b5179e;
    height: 170px;
    width: 50px;
  }
}

.bar:nth-of-type(1){
animation: load 1s infinite ease-in-out;
}
.bar:nth-of-type(2){
animation: load 1s infinite .12s ease-in-out;
}
.bar:nth-of-type(3){
animation: load 1s infinite .24s ease-in-out;
}
.bar:nth-of-type(4){
animation: load 1s infinite .36s ease-in-out;
}
.bar:nth-of-type(5){
animation: load 1s infinite .48s ease-in-out;
}
.bar:nth-of-type(6){
animation: load 1s infinite .6s ease-in-out;
}
